<mat-sidenav-container class="page-container">
    <mat-sidenav mode="side" class="sidenav-container" opened>
        <div class="lista-botones">
            <button mat-icon-button class="side-button side-selected">
                <mat-icon aria-hidden="false" class="side-icon">campaign</mat-icon>
            </button>
            <button mat-icon-button class="side-button">
                <mat-icon aria-hidden="false" class="side-icon">file_copy</mat-icon>
            </button>
            <button mat-icon-button class="side-button">
                <mat-icon aria-hidden="false" class="side-icon">signal_cellular_alt</mat-icon>
            </button>
            <button mat-icon-button class="side-button">
                <mat-icon aria-hidden="false" class="side-icon">settings</mat-icon>
            </button>
            <button mat-icon-button class="side-button">
                <mat-icon aria-hidden="false" class="side-icon">laptop</mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="topbar-container">
            <div class="titulo-topbar">
                <button mat-icon-button aria-label="back" class="boton-back">
                    <mat-icon class="icon-back">keyboard_arrow_left</mat-icon>
                </button>
                <div class="titulo-label">Resultados</div>
            </div>
            <div class="perfil-topbar">
                <label class="perfil-label">Hola, Luis</label>
                <img class="perfil-foto" src="../assets/images/perfil.png">
            </div>
        </mat-toolbar>
        <div class="filtros-container">
            <div class="filtros-envoltura">
                <mat-form-field appearance="outline" [style.fontSize.px]=12 class="campaign-input">
                    <mat-label>Id Campaña</mat-label>
                    <input matInput autocomplete="off" placeholder="Id Campaña" (keyup)="applyFilter($event)">
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]=12 class="desde-input">
                    <mat-label>Desde</mat-label>
                    <input matInput autocomplete="disabled" [matDatepicker]="desde" (keyup)="onDesde($event)">
                    <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                    <mat-datepicker #desde></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.fontSize.px]=12 class="hasta-input">
                    <mat-label>Hasta</mat-label>
                    <input matInput autocomplete="disabled" [matDatepicker]="hasta" (keyup)="onHasta($event)">
                    <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                    <mat-datepicker #hasta></mat-datepicker>
                </mat-form-field>
                <mat-checkbox color="primary" class="checkbox-margin" (change)="setContesto($event)">Contesto</mat-checkbox>
                <mat-checkbox color="primary" class="checkbox-margin" (change)="setNoContesto($event)">No contesto</mat-checkbox>
                <mat-checkbox color="primary" class="checkbox-margin" (change)="setPago($event)">Pago</mat-checkbox>
                <mat-checkbox color="primary" class="checkbox-margin" (change)="setNoPago($event)">No pago</mat-checkbox>
            </div>
            <div class="buscar-envoltura">
                <button mat-stroked-button color="primary" class="buscar-boton" (click)="onBuscar()">Buscar</button>
            </div>
        </div>
        <ng-template [ngIf]="nullresult == true">
            <div class="sinresultados-container">
                    <div class="sinresultados-envoltura">
                        <h1 class="resultado-titulo">Sin resultados</h1>
                        <div class="resultado-descripcion">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                            officia consequat duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
            </div>
        </ng-template>
        <ng-template [ngIf]="nullresult == false">
            <div class="resultados-container" #elseBlock>
                <div class="resultados-envoltura">
                    <div class="resultados-opciones">
                        <mat-form-field appearance="outline" [style.fontSize.px]=12 class="filtrar-input">
                            <mat-label>Filtrar</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
                        </mat-form-field>
                        <div class="exportar-container">
                            <button mat-stroked-button color="primary" class="exportar-button">
                                <mat-icon>file_download</mat-icon>&nbsp;EXPORTAR EXCEL
                            </button>
                        </div>
                    </div>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="tabla-resultados">
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header"> # </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.position}} </td>
                            </ng-container>
                            <ng-container matColumnDef="campaign">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Campaña </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.campaign}} </td>
                            </ng-container>
                            <ng-container matColumnDef="dni_deudor">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> DNI deudor </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.dni_deudor}}% </td>
                            </ng-container>
                            <ng-container matColumnDef="dllamada">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Duración llamada </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.dllamada}} </td>
                            </ng-container>
                            <ng-container matColumnDef="entidad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Entidad </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.entidad}} </td>
                            </ng-container>
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Estado </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.estado}} </td>
                            </ng-container>
                            <ng-container matColumnDef="horafin">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Fecha/hora fin </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.horafin}} </td>
                            </ng-container>
                            <ng-container matColumnDef="horainicio">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Fecha/hora inicio </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.horainicio}} </td>
                            </ng-container>
                            <ng-container matColumnDef="idcall">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Id call </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.idcall}} </td>
                            </ng-container>
                            <ng-container matColumnDef="idcampaign">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Id campaña </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.idcampaign}} </td>
                            </ng-container>
                            <ng-container matColumnDef="deuda">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Monto deuda </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.deuda}} </td>
                            </ng-container>
                            <ng-container matColumnDef="deudor">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Nombre deudor </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.deudor}} </td>
                            </ng-container>
                            <ng-container matColumnDef="telefono">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="tabla-header"> Telefono </th>
                                <td mat-cell *matCellDef="let row" class="tabla-fila"> {{row.telefono}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-sidenav-content>
</mat-sidenav-container>